<script>
	
	$(function(){
		var window = $("#window");

        if (!window.data("kendoWindow")) {
            window.kendoWindow({
                width: "936px",
                height: "617px", 
                modal:true
            });
        }
		function onclick() {
			window.data("kendoWindow").center();
			window.data("kendoWindow").open();
	    }

		$("#search").click(onclick);


		$("#datepickerFrom").kendoDatePicker({culture:"<%= I18n.locale %>"});
		$("#datepickerTo").kendoDatePicker({culture:"<%= I18n.locale %>"});
		$("#numAdults").kendoNumericTextBox({format: "0", min:1, max:6});
		$("#numChildren").kendoNumericTextBox({format: "0", min:0, max:6});
		$("#numInfants").kendoNumericTextBox({format: "0", min:0, max:6});

		var classes = [
			{ text: "<%=t :travel_class_economy%>", value: "1" },
			{ text: "<%=t :travel_class_standard%>", value: "2" },
			{ text: "<%=t :travel_class_premium%>", value: "3" },
			{ text: "<%=t :travel_class_business%>", value: "4" },
			{ text: "<%=t :travel_class_first%>", value: "5" }
		];

		$("#classes").kendoDropDownList({
			dataTextField: "text",
			dataValueField: "value",
			dataSource: classes,
			index: 0,
			animation: {
			            open: {
			                effects: "fadeIn",
			                duration: 300,
			                show: true
			            }
			         }									
		});

	})

</script>

<div>
	<table class="table-wrap <% if I18n.locale == :he %>k-rtl<% end %>">
		<tr>
			<td colspan="3">
				<table class="table-wrap"><tr >
					<td class="direction-cell"><input name="radio1" type="radio" id="radio1">&nbsp;<%=t :travel_one_direction%>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td class="direction-cell"><input name="radio1" CHECKED type="radio" id="radio2">&nbsp;<%=t :travel_flexible_dates%>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td class="direction-cell"><input name="radio1" type="radio" id="radio3">&nbsp;<%=t :travel_direct_only%>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td class="direction-cell"><input name="radio1" type="radio" id="radio3">&nbsp;<%=t :travel_multi_city%>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<tr></table>
			</td>
		</tr>
		<tr>
			<td width="138px"><label class="biglabel" style="padding-top:5px;"><%=t :travel_from%></label></td>
			<td ><input type="text" placeholder="<%=t :travel_place_airport%>"></td>
			<td class="push-left"><input id="datepickerFrom" type="text" placeholder="10/10/2011" style="width:120px;height:27px"></td>
		</tr>	
		<tr>
			<td width="138px"><label class="biglabel" style="padding-top:5px;"><%=t :travel_to%></label></td>
			<td ><input type="text" placeholder="<%=t :travel_place_airport%>"></td>
			<td class="push-left"><input id="datepickerTo" type="text" placeholder="10/10/2011" style="width:120px;height:27px"></td>
		</tr>	
		<tr><td colspan="3">
			<table class="table-wrap"><tr>
				<td class="push-left"><%=t :travel_adults%><br><input style="margin-top:8px;width:54px" id="numAdults" value="1" /></td>
				<td class="push-left"><%=t :travel_children%><br><input style="margin-top:8px;width:54px" id="numChildren" value="0" /></td>
				<td class="push-left"><%=t :travel_infants%><br><input style="margin-top:8px;width:54px" id="numInfants" value="0" /></td>
				<td class="push-left"><%=t :travel_class%><br><input id="classes" value="1" style="margin-top:10px;width:250px; text-align:left"> </span></td>
			</table>	
		</td></tr>	
		<tr>
			<td colspan="2"></td>
			<td><a id="search" class="radius button" href="#"><%=t :travel_search_flight%></a></td>						
		</tr>	
	</table>	
</div>

<div id="window" style="display:none;height:617px;border:0px">
	<%= render :partial => "sample" %>
</div>	
