	<div >
		<div id="tabstrip" class="tabstrip-override" >
			<ul id="tabzone">
				<li class="k-state-active">
					<span><img src="/images/glyphish/gray/38-airplane.png" width="16"> &nbsp; <%=t :travel_flights%></span>
				</li>
				<li>	
					<span><img src="/images/glyphish/gray/53-house.png" width="16"> &nbsp; <%=t :travel_hotels%></span>
				</li>
			</ul>
			<div class="voodoo" >
				<%= render :partial => "flights" %>
			</div>

			<div class="voodoo">
				<%= render :partial => "hotels" %>
			</div>
		</div>
	</div>
	<div style="padding-top:10px">
		<span class="float-left"><a href="#"><%=t :main_about%></a> | <a href="#" ><%=t :main_privacy%></a>  | <a href="#"><%=t :main_destinations%></a> | <a href="#" ><%=t :main_feedback%></a>  </span> <span class="float-right">©Kadabra 2012</span>
	</div>	

    <script>
    
        $(document).ready(function() {
            $("#tabstrip").kendoTabStrip({
				animation:	{
					open: {
						effects: "fadeIn"
					}
				}
			
			});
        });
        
    </script>
